@import './vendors/flatpickr.scss';
@import './vendors/select2.scss';


/* === Default Select2 === */
.select2-search--dropdown .select2-search__field {
	padding: 0 4px;
}

.select2-container {
	z-index: 50000000 !important;
}

/* === Buttonset Control === */
.customize-control-nscu-buttonset {
	input[type="radio"] {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}

  .buttonset {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .switch-label {
    	display: inline-block;
	    border: 1px solid #7e8993;
	    padding: 5px 10px;
	    background-color: #fff;
	    z-index: 1;
	    margin: 0 0 0 -1px;
		}

    .switch-label:first-of-type {
	    border-radius: 3px 0 0 3px;
		}

    .switch-label:last-child {
	    border-radius: 0 3px 3px 0;
		}

    .switch-input {
      &:checked {
        + .switch-label {
        	border-color: #7e8993;
			    background: #008dd4;
			    color: #fff;
			    z-index: 2;
        }
      }
    }
  }
}

/* === Date Time Control === */
.flatpickr-calendar.open {
	z-index: 50000000 !important;
}

/* === Dimension Control === */
.customize-control-nscu-dimension {
	.dimension-wrapper {
		position: relative;
	}

	.dimension-field {
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	.dimension-number {
		width: 55px !important;
	}

	.dimension-unit {
		width: 60px;
	}

	.dimension-reset {
		display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 28px;
    position: absolute;
    padding: 0;
    width: 16px;
    height: 16px;
    color: #50575e;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
    z-index: 3;

    i {
	    font-size: 12px;
	  }
	}
}

/* === Divider Control === */
.customize-control-nscu-divider {
  hr {
  	border: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #f8f8f8;
  }
}

/* === Editor Control === */
.customize-control-nscu-editor {
  textarea {
    width: 100%;
    height: 120px;
  }
}

/* === Heading Control === */
.customize-control-nscu-heading {
	background-color: #fff;
  left: -24px;
  padding: 10px 24px;
  position: relative;
  width: calc(100% + 48px);

  .customize-control-title {
  	font-size: 15px;
  }
}

/* === Message Control === */
.customize-control-nscu-message {
	.customize-control-description {
		font-style: normal;
		color: #666;
		padding: 6px 6px 6px 12px;
		border: 0;
		border-left-width: 5px;
		border-color: #ccc;
		border-style: solid;
		width: 90%;
	}
}

/* === Radio Image Control === */
.customize-control-nscu-radio-image {
	input[type="radio"] {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}

	.radio-images {
		display: grid;
		gap: 5px;

		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}

		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}

		&.columns-6 {
			grid-template-columns: repeat(6, 1fr);
		}
	}

	img {
		box-sizing: border-box;
		max-width: 100%;
		height: auto;
		padding: 1px;
		border: 3px solid transparent;

		&:hover, &:focus {
			border-color: #ccc;
		}
	}

	input:checked + span + img {
		border-color: #008dd4;
	}
}

/* === Range Control === */
.customize-control-nscu-range {
	.range-wrapper {
		position: relative;
	}

	.range-field {
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	.range-value-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;

		.range-number {
			width: 45px;
		}
	}

	.range-reset {
		display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 28px;
    position: absolute;
    padding: 0;
    width: 16px;
    height: 16px;
    color: #50575e;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
    z-index: 3;

    i {
	    font-size: 12px;
	  }
	}
}

/* === Sortable Control === */
.customize-control-nscu-sortable {
	ul.ui-sortable {
		cursor: default;

		.dashicons-visibility {
			cursor: pointer;
		}

		li {
			padding: 5px 10px;
			border: 1px solid #333;
			background: #fff;
			cursor: move;

			.dashicons.dashicons-menu {
				float: right;
			}

			.dashicons.visibility {
				margin-right: 10px;
			}

			&.invisible {
				color: #aaa;
				border: 1px dashed #aaa;

				.dashicons.visibility {
					color: #aaa;
				}
			}
		}
	}
}

/* === Switcher Control === */
.customize-control-nscu-switcher {
	.field-wrapper {
		display: flex;
		gap: 15px;
		justify-content: space-between;
	}

	.field-holder {
		position: relative;
		display: inline-block;
		min-width: 50px;
		margin-top: 5px;
		height: 24px;

		input {
			display: none;
		}

		.field-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		.field-slider:before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		input:checked + .field-slider {
			background-color: #008dd4;
		}

		input:focus + .field-slider {
			box-shadow: 0 0 1px #2271b1;
		}

		input:checked + .field-slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		.field-slider.round {
			border-radius: 34px;
		}

		.field-slider.round:before {
			border-radius: 50%;
		}
	}
}

/* === Toggle Control === */
.customize-control-nscu-toggle {
	.field-wrapper {
		display: flex;
		gap: 15px;
		justify-content: space-between;
	}

	.field-holder {
		position: relative;
		display: inline-block;
		min-width: 50px;
		margin-top: 5px;
		height: 24px;

		input {
			display: none;
		}

		.field-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		.field-slider:before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		input:checked + .field-slider {
			background-color: #008dd4;
		}

		input:focus + .field-slider {
			box-shadow: 0 0 1px #2271b1;
		}

		input:checked + .field-slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		.field-slider.round {
			border-radius: 34px;
		}

		.field-slider.round:before {
			border-radius: 50%;
		}
	}
}

/* === Button Section === */
.control-section-nscu-button {
	.accordion-section-title {
		display: flex;
		align-items: center;
		gap: 5px;
		justify-content: space-between;
		padding: 7px 0px 7px 14px;
		padding-right: 14px !important;

		&.no-button {
			padding: 10px 10px 11px 14px;
			padding-right: 30px !important;
		}
	}
}

/* === Header Section === */
#customize-controls .control-section-nscu-header {
	background-color: #eee;
	text-align: center;

	.accordion-section-title {
		background-color: #eee;
		font-size: 15px;

		&:hover,
		&:focus {
			background-color: #eee;
		}
	}
}

/* === Upsell Section === */
#customize-controls .control-section-nscu-upsell {
	background-color: #344860;

	.accordion-section-title {
		background-color: #344860;
		border-color: #344860;
		user-select: none;

		&:hover,
		&:focus {
			background-color: #344860;
			border-color: #344860;
		}

		a {
			color: #fff;
			display: block;
			width: 100%;
			text-decoration: none;
		}
	}
}
