/* === Buttonset Control === */
.customize-control-nscu-buttonset input[type=radio] {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
.customize-control-nscu-buttonset .buttonset {
  display: flex;
  flex-wrap: wrap;
}
.customize-control-nscu-buttonset .buttonset .switch-label {
  background: rgba(0, 0, 0, 0.1);
  border: 1px rgba(0, 0, 0, 0.1);
  color: #555d66;
  margin: 0;
  text-align: center;
  padding: 0.5em 1em;
  flex-grow: 1;
}
.customize-control-nscu-buttonset .buttonset .switch-input:checked + .switch-label {
  background-color: #2271b1;
  color: rgba(255, 255, 255, 0.8);
}

/* === Date Time Control === */
.flatpickr-calendar.open {
  z-index: 50000000 !important;
}

/* === Dimension Control === */
.customize-control-nscu-dimension .dimension-wrapper {
  position: relative;
}
.customize-control-nscu-dimension .dimension-field {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.customize-control-nscu-dimension .dimension-number {
  width: 55px !important;
}
.customize-control-nscu-dimension .dimension-unit {
  width: 60px;
}
.customize-control-nscu-dimension .dimension-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 28px;
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  color: #50575e;
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 3;
}
.customize-control-nscu-dimension .dimension-reset i {
  font-size: 12px;
}

/* === Editor Control === */
.customize-control-nscu-editor textarea {
  width: 100%;
}

/* === Heading Control === */
.customize-control-nscu-heading {
  background-color: #fff;
  left: -24px;
  padding: 10px 24px;
  position: relative;
  width: calc(100% + 48px);
}

/* === Message Control === */
.customize-control-nscu-message .customize-control-description {
  font-style: normal;
  color: #666;
  padding: 6px 6px 6px 12px;
  border: 0;
  border-left-width: 5px;
  border-color: #ccc;
  border-style: solid;
  width: 90%;
}

/* === Radio Image Control === */
.customize-control-nscu-radio-image input[type=radio] {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
.customize-control-nscu-radio-image img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 1px;
  border: 4px solid transparent;
}
.customize-control-nscu-radio-image img:hover, .customize-control-nscu-radio-image img:focus {
  border-color: #ccc;
}
.customize-control-nscu-radio-image input:checked + span + img {
  border-color: #2271b1;
}

/* === Range Control === */
.customize-control-nscu-range .range-wrapper {
  position: relative;
}
.customize-control-nscu-range .range-field {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.customize-control-nscu-range .range-value-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.customize-control-nscu-range .range-value-holder .range-number {
  width: 45px;
}
.customize-control-nscu-range .range-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 22px;
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  color: #50575e;
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 3;
}
.customize-control-nscu-range .range-reset i {
  font-size: 12px;
}

/* === Sortable Control === */
.customize-control-nscu-sortable ul.ui-sortable {
  cursor: default;
}
.customize-control-nscu-sortable ul.ui-sortable .dashicons-visibility {
  cursor: pointer;
}
.customize-control-nscu-sortable ul.ui-sortable li {
  padding: 5px 10px;
  border: 1px solid #333;
  background: #fff;
  cursor: move;
}
.customize-control-nscu-sortable ul.ui-sortable li .dashicons.dashicons-menu {
  float: right;
}
.customize-control-nscu-sortable ul.ui-sortable li .dashicons.visibility {
  margin-right: 10px;
}
.customize-control-nscu-sortable ul.ui-sortable li.invisible {
  color: #aaa;
  border: 1px dashed #aaa;
}
.customize-control-nscu-sortable ul.ui-sortable li.invisible .dashicons.visibility {
  color: #aaa;
}

/* === Toggle Control === */
.customize-control-nscu-toggle .field-wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.customize-control-nscu-toggle .field-holder {
  position: relative;
  display: inline-block;
  min-width: 50px;
  margin-top: 5px;
  height: 24px;
}
.customize-control-nscu-toggle .field-holder input {
  display: none;
}
.customize-control-nscu-toggle .field-holder .field-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.customize-control-nscu-toggle .field-holder .field-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.customize-control-nscu-toggle .field-holder input:checked + .field-slider {
  background-color: #2271b1;
}
.customize-control-nscu-toggle .field-holder input:focus + .field-slider {
  box-shadow: 0 0 1px #2271b1;
}
.customize-control-nscu-toggle .field-holder input:checked + .field-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.customize-control-nscu-toggle .field-holder .field-slider.round {
  border-radius: 34px;
}
.customize-control-nscu-toggle .field-holder .field-slider.round:before {
  border-radius: 50%;
}

/* === Button Section === */
.control-section-nscu-button .accordion-section-title {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding: 7px 0px 7px 14px;
  padding-right: 14px !important;
}
.control-section-nscu-button .accordion-section-title.no-button {
  padding: 10px 10px 11px 14px;
  padding-right: 30px !important;
}

/* === Header Section === */
#customize-controls .control-section-nscu-header {
  background-color: #eee;
  text-align: center;
}
#customize-controls .control-section-nscu-header .accordion-section-title {
  background-color: #eee;
}
#customize-controls .control-section-nscu-header .accordion-section-title:hover, #customize-controls .control-section-nscu-header .accordion-section-title:focus {
  background-color: #eee;
}

/*# sourceMappingURL=customize-controls.css.map */
